header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 60px;
    background-color: var(--background-primary);
    color: var(--background-clean);
    font: var(--font-text);
}

header .logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

header .logo img{
    height: 50px;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: var(--background-clean);
    font: var(--font-text);
    transition: 0.2s all ease-in-out;
}

header nav ul li a:hover{
    opacity: 0.8;
}

header button{
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: var(--destaque-cta);
    color: var(--text-color-primary);
    font: var(--font-text);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

header button:hover{
    opacity: 0.8;
}